@import url(//fonts.googleapis.com/css?family=Lato:700);

/*body {
    margin:0;
    font-family:'Lato', sans-serif;
    text-align:center;
   
}*/
body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#DFDFF2;
    height: 100%;
    font: 14px/24px sans-serif;
}

.content {
    width: 60%;
    height: 200px;
    position: absolute;
    left: 35%;
    top: 10%;
    margin-left: -150px;
}
textarea{
    height: 80px;
    width: 60%;
    border: 1px solid #6297BC;
    resize: none;
}
.blogs{
 
}
.blog-title{
    text-decoration: underline;
    text-decoration-style: solid;
    text-transform: capitalize;    
}
.author-name{
    color: brown;
    text-transform: capitalize;
    padding-left: 7px;
}
.create-blog{
    height: 300px;
    width: 60%;
    resize: none;
}
.comment1,.comment2{
    height: 150px;
    width: 60%;
    background-color: aquamarine;
}
.comment2{
    background-color: cadetblue;
}
.comment-likes{
    margin-right: 0;
}
.created-by{
    text-align: right;
}
a, a:visited {
    text-decoration:none;
}

h1 {
    font-size: 32px;
    margin: 16px 0 0 0;
}
.header{
    margin-top: 0px;
    height: 10%;
    width: 100%;
    background: #4DC3FF;
    text-decoration-color: #272727;
    position: absolute;
    top: 0px;
    text-align:center;
}
.footer{
    background: #272727;
    position:fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 40px 0;
    width: 100%;    
    text-align:center;
}




#wrap {
    width:15%;
    background:#98C8F2;
    position: absolute;
    top: 10%;
    text-align:center;
    position: absolute;
    bottom: 0px;
    // overflow: hidden;
    text-transform: capitalize;
}


#header {
    background:#ddd;
}
#nav {
    background:#c99;
}
#main {
    background:#9c9;
}
#sidebar {
    background:#c9c;
}
#footer {
    background:#cc9;
}

.btn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #18435e;
    text-decoration: none;
}

.likeit{
    background: #71a873;
    background-image: -webkit-linear-gradient(top, #71a873, #588568);
    background-image: -moz-linear-gradient(top, #71a873, #588568);
    background-image: -ms-linear-gradient(top, #71a873, #588568);
    background-image: -o-linear-gradient(top, #71a873, #588568);
    background-image: linear-gradient(to bottom, #71a873, #588568);
    text-shadow: 0px 1px 3px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}
.likeit:hover {
    background: #508a73;
    text-decoration: none;
}





#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background:#000 url(http://dbwebb.se/img/loader.gif) no-repeat scroll center center;
}
#lightbox {
    position: fixed;
    z-index: 999;
}





.input,.input-title{
    border: 1px solid #6297BC;
    width: 40%;
    height:70%;
    font-size: 20px;
    
}
.input-title{
    width: 60%;
    font-size: 20px;
    
}

.input-wrap{
  height: 60px;
}
.likes{
    display: inline;
    color:#1F7B15 
}
.like-count{
    display: inline;
    color: #002166
}
.public-dropdown{
    color: #002166;
}




.pagination {
  display: inline;
  width: 100%;
  font-size: 1.2em;
}
.pagination li{
    display: block;
}

.pagination li a:hover {
  background: #eee;
  color: #555;
}
.pagination li a:active {
  -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}
 